

body {
    /* background: url(img/bg.jpg); background-size: 100%; */
    background: #f3f3f3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
}




.swal-overlay {
    background-color: rgba(255, 255, 255, 0.527);
    }

    .swal-text {
        background-color: #FEFAE3;
        padding: 17px;
        border: 1px solid #F0E1A1;
        display: block;
        margin: 22px;
        text-align: center;
        color: #61534e;
    }

.navbar ul {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 30px 0;
    background: rgba(253, 190, 77, 0.836);
    display: flex;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(253, 190, 77, 0.849);
}

.logotype {
    width: 10px;
    height: 10px;
}

.logotype img {
    width: 250px;
    height: 135px;
    position: relative;
    left: 20px;
    padding: 5px;
    transition: 1s;
}

.logotype img:hover {
    transform: scale(1.1);
}

.logotype title {
    font-family: 'Reem Kufi', sans-serif;
}

.maint {
    width: 50px;
    height: 10px;

}
.maint p {
    position: relative;
    left: 450px;
    top: 150px;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 35px;
    text-shadow: rgba(71, 61, 139, 0.856) 0 0 10px;
    color: rgba(71, 61, 139, 0.199);
	background-color: #FEFAE3;
        padding: 17px;
        border: 1px solid #F0E1A1;
		width: 310px;
}

.navbar ul li {
    list-style: none;
    text-align: center;
    display: block;
    border-right: 1px solid rgba(0, 0, 0, .2);
}

.navbar ul li:last-child {
    border-right: none;
}

.navbar ul li a {
    text-decoration: none;
    padding: 0 20px;
    display: block;
    font-family: 'Reem Kufi', sans-serif;
    color: 	#333333;
}

.navbar ul li a:hover {
    color: 	#0000008a;
}

.titleright.ribbon-full {
    position: relative;
    height: 30px;
    width: 370px;
    left: -20px;
    background: rgba(71, 61, 139, 0.562);
    color: #fff;
}

.container {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;

}

.container .box {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: rgba(71, 61, 139, 0.562);
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(71, 61, 139, 0.788);
}

.container .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(71, 61, 139);
    transition: 0.5s;
    z-index: 1;
}

.container .box:hover .icon {
top: 20px;
left: calc(50% - 40px);
width: 80px;
height: 80px;
border-radius: 50%;
}

.container .box .icon .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    transition: 0.5s;
    color: #ffffff;
}

.container .box .icon .pen {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Reem Kufi', sans-serif;
    font-size: 40px;
    transition: 0.5s;
    color: #ffffff;
}

.container .box:hover .icon .pen {
    font-size:0px;
}

.container .box:hover .icon .fab {
font-size: 20px;
}

.container .box .content {
    position: absolute;
    top: 80px;
    height: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    color: #fff;
}

.container .box .content .opis {
    position: absolute;
    left: 8%;
    top: 40px;
    height: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    color: #fff;
}

.qiwi .button {
    background: none;
    color: #ccc;
    width: 200px;
    height: 40px;
    border: 1px solid #ba2229;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}

.qiwi .button:focus {
    outline: none;
}




.qiwi .button:hover {
    background: #ba2229;
    cursor: pointer;
}

.qiwi .button:hover:before {
    transform: translateX(300px) skewY(-15deg);
    opacity: .6;
    transition: .7s;
}

.qiwi .button:hover:after {
    transform: translateX(300px) skewY(-15deg);
    opacity: 1;
    transition: .7s;
}

.container .box .content .fas {
    color: green;
}